!!! 5
html(lang="en")
	head
		title Container Demo
		link(rel='stylesheet', href='../reset.css')
		link(rel='stylesheet', href='container.css')
		script(src='../jquery.js')
		script(src='vertical-text-align.js')
	body
		.container.clearfix
			.vertical-container
				h1.vertical Something Longer
		
			a.rounded(href='#')
				.content-container
					h2 @DukeChronicle
					p
						RT @fhi_duke: "Why Tell Stories?" Edwidge Danticat on power of testimony 
						in face of catastrophe http://bit.ly/gu4K8h Thanks @DukeChronicle!	
		
		
		.container.clearfix
			.vertical-container
				h1.vertical News
			
			a.rounded(href='#')
				.content-container
					h2 @DukeChronicle
					p
						RT @fhi_duke: "Why Tell Stories?" Edwidge Danticat on power of testimony 
						in face of catastrophe http://bit.ly/gu4K8h Thanks @DukeChronicle!
