!!! 5
html(lang="en")
	head
		title Chron Slideshow
		link(rel='stylesheet', href='reset.css')
		link(rel='stylesheet', href='rotator/styles.css')
		script(src='jquery.js')
		script(src='rotator/rotator.js')
	body!= body